<div class="wrapper">
<footer class="site-footer">

    <div>
      <ul class="contact-list">
        <li>{{ site.title }}.</li>
      </ul>
    </div>

    <div>
      <ul class="social-media-list">
        {% if site.twitter_username %}
        <li>
          {% include icon-twitter.html username=site.twitter_username %}
        </li>
        {% endif %}

        {% if site.github_username %}
        <li>
          {% include icon-github.html username=site.github_username %}
        </li>
        {% endif %}


      </ul>
    </div>

    <p class="rss-subscribe">Disponible <a href="{{ "/feed.xml" | prepend: site.baseurl }}">en RSS</a></p>




</footer>
</div>
