<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">utensilio</a>



  </div>

</header>

<div class="wrapper">
  <nav class="site-nav">
      <!-- <a class="page-link">Esta semana</a> -->
      <a class="page-link" href="/archivo">Archivo</a>
      {% for my_page in site.pages %}
        {% if my_page.title %}
        <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
        {% endif %}
      {% endfor %}

  </nav>
</div>
